<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-ncl_cl py-3 text-sm">
    <.ncl_icon />

    <div class="flex items-center font-bold leading-6">
      <.user_current />
    </div>
  </div>
</header>

<main class="h-full px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} /> <%= @inner_content %>
  </div>
</main>
