<header class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between border-b border-ncl_cl py-3 text-sm">
    <div class="flex items-center">
      <a href="/">
        <span class="font-medium leading-6 text-ncl_twi_light font-lumiere-polis font-italic [text-shadow:_0_0_2px_rgba(255,255,255,0.8),0_0_5px_rgba(255,255,255,0.6),0_0_9px_rgba(173,216,230,0.5);]">
          NOCTILUCENT
        </span>
      </a>
    </div>

    <div class="flex items-center gap-4 font-bold leading-6 text-ncl_bg">
      <a>Log in</a> or <a>Sign up</a>
    </div>
  </div>
</header>

<main class="h-full px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <.flash_group flash={@flash} /> <%= @inner_content %>
  </div>
</main>
