<.flash_group flash={@flash} />
<article class="" id="show-components">
  <%# NoctilucentWeb.ShowComponents.header/1 %>
  <.header>
    <code>NoctilucentWeb.ShowComponents</code> 组件
    <:subtitle>
    这是 <code>&lt;.header&gt;</code> 中的子标题
    </:subtitle>
  </.header>
  <p class="leading-8">
  只因你太美。
  </p>
  <%# [TODO) NoctilucentWeb.ShowComponents.table/1 %>
  <%# [TODO) NoctilucentWeb.ShowComponents.list/1 %>
  <%# [TODO) NoctilucentWeb.ShowComponents.back/1 %>
  <%# [TODO) NoctilucentWeb.ShowComponents.icon/1 %>
</article>
<hr>
<article id="form-coponents">
<.header>
    <code>NoctilucentWeb.FormComponents</code> 组件
    <:subtitle>
    表单、输入、提交巴拉巴拉
    </:subtitle>
  </.header>
  <p>[TODO) implement it.</p>
</article>
