<.flash_group flash={@flash} />
<div class="relative min-h-screen bg-gradient-to-t from-ncl_cl via-ncl_bg via-6% to-ncl_bg_dark to-40%">
  <!-- Header -->
  <header class="flex justify-between items-center p-4 text-white">
    <div class="text-lg">
      <a href="/about" class="hover:text-gray-300">关于</a>
    </div>
    <div class="flex space-x-4">
      <a href="#" class="hover:text-gray-300">登录</a>
      <a href="#" class="hover:text-gray-300">注册</a>
    </div>
  </header>

  <div class="w-full h-[calc(80vh)] text-white">

    <!-- Main Content -->
    <main class="inset-0">
      <!--添加一个用于确定标题位置的容器-->
      <div class="flex flex-col items-center justify-center h-[calc(100vh-200px)] text-ncl_twi_light">
        <h1 class="text-5xl mb-4">
          <span class="font-lumiere-polis font-bold [text-shadow:_0_0_2px_rgba(255,255,255,0.8),0_0_5px_rgba(255,255,255,0.6),0_0_9px_rgba(173,216,230,0.5);]">
            NOCTILUCENT
          </span>
          ✨
        </h1>
        <p class="text-lg text-center max-w-lg [text-shadow:0_0_5px_rgba(255,255,255,0.6),0_0_9px_rgba(173,216,230,0.5),_0_0_2px_rgba(255,255,255,0.8);]">
          <span class="font-lumiere-polis font-italic">Let's watch the stars from the balcony or read Orwell together.</span>
        </p>
        <p class="mt-4 text-base leading-7 text-zinc-200 text-balance">
          查看组件请访问 <a class="text-zinc-300 hover:text-zinc-400" href={~p"/components"}>组件</a> 。
        </p>
      </div>
    </main>

    <!-- Footer -->
    <footer class="p-4 text-center items-center w-full flex flex-col justify-center">
      <p class="justify-items-center text-center items-center">
        <span class="items-center text-center flex gap-2">Powered by <a href="https://phoenixframework.org"><img src={~p"/images/logo.svg"} alt="phoenix" width="18" /></a></span>
      </p>
      <!--TODO: 右下角的统计信息-->
      <div class="align-right">
        <p>Statistics</p>
      </div>
    </footer>
  </div>
</div>
